.header{
    background-color: black;
   padding-top: 10px;
   padding-bottom: 10px;

    text-align: center;
    font-size: 35px;
    color: white;
}



.table{
   margin-top: 200px;
   margin-left: 500px;
   background-color: grey;
}
table td{
    padding-top: 15px;
    color: black;
}

.backgroundimg{
    background-image: url(backimg.png);
     background-repeat: no-repeat;
    background-attachment: fixed;
   background-size: cover;
    
}

table tr{
    color: burlywood;
}
input[type=submit], input[type=reset] {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    size: 30px;
    cursor: n-resize;
    margin: 4px 2px;
    cursor: pointer;
  }
  input[type=button]{
    background-color: red;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    cursor: n-resize;
    margin: 4px 2px;
    cursor: pointer;
  }





